{% extends 'partials/base.html' %}
{% block title %} Cambio de Contraseña Hecho {% endblock %}


{% block content %}
<hr>
<hr>
<hr>
<hr>


<div class="container"> 
    
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Cambio de Contraseña Hecho</h3>
                <hr>
                <div class="alert alert-info">
                    <h4> Se le ha enviado un correo con las instrucciones para cambiar su contraseña.</h4>
                </div>
                
            </div>

           
        </div>
    </div>
</div>


{% endblock %}