{% extends 'partials/base.html' %}
{% block title %} Confirmacion de cambio de contraseña{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<hr>
<hr>
<hr>
<hr>
<div class="container"> 
    <div class="row mt-5">
        <div class="col-md-5 offset-md-3 ">
            <div class="border p-3 bg-white">
                <h3> Confirmacion de Cambio de Contraseña</h3>
                <hr>
                <form method = "POST" >
                    {% csrf_token %}
                    {{form|crispy}}
                    <input class="btn btn-info" type ="submit" value="Confirmar Contraseña" >
                    
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}